In [8]:
import numpy as np
import pandas as pd
ecom =pd.read_csv("C:\\Users\\tinti\\Downloads\\DSclass\\Ecommerce Purchases.csv")

In [14]:
# 1
#5 with 0
ecom.tail(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [12]:
#2
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [13]:
#3
# 14 columns, 13 rows with 0
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [19]:
#5
ecom['Purchase Price'].mean()

50.34730200000025

In [20]:
#6
ecom['Purchase Price'].max()

99.99

In [21]:
ecom['Purchase Price'].min()

0.0

In [27]:
#7
#The true should be the number of people who have english then the false is those who do not
(ecom['Language'] == 'en').value_counts()

False    8902
True     1098
Name: Language, dtype: int64

In [28]:
#8
#30 people with Lawyer and 9970 who are not lawyers
(ecom['Job'] == 'Lawyer').value_counts()

False    9970
True       30
Name: Job, dtype: int64

In [29]:
#9
#4932 is AM and 5068 is PM
(ecom['AM or PM'] == 'AM').value_counts()

False    5068
True     4932
Name: AM or PM, dtype: int64

In [30]:
#10
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [37]:
#11
ecom.loc[ecom['Lot'] == '90 WT', 'Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [38]:
#12
ecom.loc[ecom['Credit Card'] == 4926535242672853, 'Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [46]:
#13
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].value_counts().sum()

39

In [53]:
#14
(ecom['CC Exp Date'] == '00/25').count()

10000

In [58]:
#15
ecom['Email'].str.split('@').str[1].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64