In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
connection = sql.connect('chinook.db')

In [3]:
connection

In [7]:
invoices = 'select * from invoices'
df = pd.read_sql_query(invoices,connection)

DatabaseError: Execution failed on sql 'select * from invoices': no such table: invoices

In [ ]:
df