In [2]:
import pandas as pd

df = pd.read_csv("C:\\Users\\tinti\\Downloads\\DSclass\\WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
status = pd.get_dummies(df['MaritalStatus'])

In [17]:
pivot = pd.concat([df,status],axis=1)[['Divorced','Married','Single','Attrition','Gender']].groupby(['Attrition','Gender']).sum()
pivot

                  Divorced  Married  Single
Attrition Gender
No        Female     108.0    241.0   152.0
          Male       186.0    348.0   198.0
Yes       Female       9.0     31.0    47.0
          Male        24.0     53.0    73.0

In [15]:
#Probablity of divorced person
pivot['Divorced'].sum()/(pivot['Divorced'].sum()+pivot['Married'].sum()+pivot['Single'].sum())

0.22244897959183674

In [16]:
#probablity that individual left and divorced
pivot.loc['Yes'][['Divorced']]['Divorced'].sum()/pivot['Divorced'].sum()

0.10091743119266056